$boldFont : boldFont;
$semiboldFont : semiboldFont;
$mediumFont : mediumFont;
$regularFont : regularFont;


@font-face {
    font-family: $boldFont;
    src: url(/assets/font/OpenSans-Bold.ttf);
}

@font-face {
    font-family: $semiboldFont;
    src: url(/assets/font/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: $mediumFont;
    src: url(/assets/font/OpenSans-Medium.ttf);
}

@font-face {
    font-family: $regularFont;
    src: url(/assets/font/OpenSans-Regular.ttf);
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

$primaryColor: hsl(112, 32%, 64%);
$primaryColor_a30: hsla(112, 32%, 64%, 0.3);
$whiteElement: hsl(0, 0%, 100%);


body {
    position: relative;
    min-height: max-content;
    width: 100%;
    font-family: $regularFont;

    & * {
        position: relative;
        width: 100%;
    }

    & header {
        min-height: min-content;
        max-height: min-content;
        height: 100%;
    }

    & main {
        min-height: max-content;
    }

    & footer {
        height: max-content;
    }
}

/* #HEADER ---------------------------------------------- */

header nav {
    @include flexCenter();
    width: 100%;
    box-shadow: -5px 0 5px 2px black;

    & ul {
        position: relative;
        @include flexCenter();

        & li {
            text-align: center;
            font-family: $mediumFont;

            &:hover {
                color: $primaryColor;
            }
        }

        & img {
            width: 10vh;
            aspect-ratio: 125/93.63;
        }
    }
}



/* #MAIN ------------------------------------------------ */


main section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-height: max-content;

    &#heroSection {
        @include flexCenter();
        flex-direction: column;
        background-image: url(/assets/images/Bg_heroImage.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        text-align: center;
        padding-inline: 1rem;

        & h1 {
            color: $whiteElement;
            background-color: $primaryColor;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 1rem;
        }

        & p {
            background-color: $whiteElement;
            color: $primaryColor;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 1rem;
        }
    }


    &#advicesSection {
        display: grid;
        grid-template-rows: .2fr 1fr;
        place-items: center;
        text-align: center;

        & h1 {
            color: $primaryColor;
        }

        & .cardContainer {
            @include flexCenter();
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            padding-inline: 1rem;
        }
    }
}